MarketWarehouse/src/main/resources/customer_schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:atom="http://www.w3.org/2005/Atom">

  <xs:element name="customer" type="customer"/>

  <xs:complexType name="customer">
        <xs:sequence>
          <xs:element name="firstName" type="xs:string" form="unqualified" minOccurs="1"/>
          <xs:element name="lastName" type="xs:string" form="unqualified" minOccurs="1"/>
          <xs:element name="address" type="xs:string" form="unqualified" minOccurs="1"/>
        </xs:sequence>
  </xs:complexType>

</xs:schema>

